{% extends '_base.html' %}

{% block content %}
    <div class="home-banner">
        Be chitros, {{ data.username }}! <i class="fas fa-piggy-bank icon"></i>
    </div>

    <div class="home-section">
        <h2>Spotlights</h2>
        <a href="/portfolio" class="home-see-more">See more</a>
        <div class="home-cards">
            <div class="home-card">
                <h3>Spent this month</h3>
                <p>{{ data.spent_this_month }} RON</p>
                <i class="fas fa-coins icon"></i>
            </div>
            <div class="home-card">
                <h3>Living Expenses</h3>
                <p>{{ data.living_expenses }} RON</p>
                <i class="fas fa-home icon"></i>
            </div>
            <div class="home-card">
                <h3>Food</h3>
                <p>{{ data.food_expenses }} RON</p>
                <i class="fas fa-utensils icon"></i>
            </div>
        </div>
    </div>

    <div class="home-section">
        <h2>{{ data.current_balance }} RON</h2>
        <a href="/user" class="home-see-more">See more</a>
        <div class="home-cards">
            {% for account in data.accounts %}
                <div class="home-card">
                    <h3>{{ account.name }}</h3>
                    <p>{{ account.balance }} RON</p>
                    <img src="{{ account.chart_url }}" alt="{{ account.name }} Chart" class="chart">
                </div>
            {% endfor %}
        </div>
    </div>

{% endblock content %}