{% extends '_base.html'%}

{% block buttons %}
<div class="navbar">
	<a class="nav-item nav-link" href="/home">Home</a>
	<a class="nav-item nav-link" href="/portfolio">Portfolio</a>
	<a class="nav-item nav-link" href="/newtransaction">New Transaction</a>
	<a class="nav-item nav-link active" href="/invest">Invest</a>
	{% if not authenticated %}
	<a class="nav-item nav-link" href="/login">Login</a>
	{% else %}
	<a class="nav-item nav-link" href="/logout">Logout</a>
	{%endif%}
</div>
{% endblock buttons %}

{% block content %}
<h1>Investing Opportunities</h1>
<div class="game-container" style="display: flex; flex-wrap: wrap; gap: 20px; padding: 20px;">
    {% for game in games %}
	<img src="icons/diceroyal.png" alt="Descriere imagine" style="width: 100px; height: 100px;">
    {% endfor %}
</div>
{% endblock content %}