{% extends '_base.html'%}

{% block buttons %}
<div class="navbar">
	<a class="nav-item nav-link" href="/home">Home</a>
	<a class="nav-item nav-link" href="/portfolio">Portfolio</a>
	<a class="nav-item nav-link" href="/newtransaction">New Transaction</a>
	<a class="nav-item nav-link active" href="/invest">Invest</a>
	{% if not authenticated %}
	<a class="nav-item nav-link" href="/login">Login</a>
	{% else %}
	<a class="nav-item nav-link" href="/logout">Logout</a>
	{%endif%}
</div>
{% endblock buttons %}

{% block content %}
<h1>Investing Opportunities</h1>

<div style="display: flex; gap: 20px; justify-content: center; align-items: center;">
    <div style="text-align: center;">
        <img src="../public/images/diceroyal.png" alt="Diceroyal icon" style="width: 200px; height: 200px; object-fit: contain;">
        <p style="font-size: 24px; margin-top: 10px;">Diceroyal</p>
    </div>
    <div style="text-align: center;">
        <img src="../public/images/blackjack.png" alt="Blackjack icon" style="width: 200px; height: 200px; object-fit: contain;">
        <p style="font-size: 24px; margin-top: 10px;">Blackjack</p>
    </div>
</div>

{% endblock content %}
