{% extends '_base.html'%}

{% block buttons %}
<div class="navbar">
	<a class="nav-item nav-link" href="/home">Home</a>
	<a class="nav-item nav-link" href="/portfolio">Portfolio</a>
	<a class="nav-item nav-link" href="/newtransaction">New Transaction</a>
	<a class="nav-item nav-link active" href="/invest">Invest</a>
	{% if not authenticated %}
	<a class="nav-item nav-link" href="/login">Login</a>
	{% else %}
	<a class="nav-item nav-link" href="/logout">Logout</a>
	{%endif%}
</div>
{% endblock buttons %}

{%block content%}
<h1>TODO: ADD INVESTING POSIBILITIES (BOOK OF RA tatiiii BOOK OF RA)</h1>
{%endblock content%}
